<div class="portfolio-about-user-left overflow">
  <div class="about-user-left-whole-wrapper">
    <div class="user-profile-list-info">
      <div class="user-profile-info-wrapper">
        <span class="city">State:</span>
        <span class="state">Texas</span>
      </div>
      <div class="user-profile-info-wrapper">
        <span class="city">City:</span>
        <span class="state">Dallas</span>
      </div>
      <div class="user-profile-info-wrapper">
        <span class="city">Language:</span>
        <span class="state">English</span>
      </div>
    </div>
    <div class="skills-heading">
      <h4>Skills</h4>
    </div>
    <div class="user-profile-skills-wrapper">
      <div class="skills-row">
        <span>SEO/SEM</span>
      </div>
      <div class="skills-row">
        <span>jquery</span>
      </div>
      <div class="skills-row">
        <span>salesforce</span>
      </div>
      <div class="skills-row">
        <span>html/css</span>
      </div>
      <div class="skills-row">
        <span>cms/crm</span>
      </div>
      <div class="skills-row">
        <span>wordpress/joomla</span>
      </div>
    </div>
    <div class="skills-heading">
      <h4>Tools</h4>
    </div>
    <div class="user-profile-skills-wrapper">
      <div class="skills-row">
        <span>Figma</span>
      </div>
      <div class="skills-row">
        <span>Sketch</span>
      </div>
      <div class="skills-row">
        <span>Adobe xd</span>
      </div>
      <div class="skills-row">
        <span>Invision app</span>
      </div>
    </div>
  </div>
</div>