.about-section {
  .about-me-whole-wrapper{
    .about-me-content-wrapper{
      .about-me-content-container{
        padding: 20px 10px;
        text-align: center;
        .image-wrapper{
          img{
            width: 170px;
          }
        }
        .name-wrapper{
          h3{
            color: #585858;
            display: flex;
            font-weight: 400;
            flex-direction: column;
            line-height: 40px;
            font-size: 8.5vw;
            span{
              font-weight: 900;
            }
          }
        }
        .about-me-content-wrapper{
          p{
            color: #585858;
            line-height: 160%;
            font-weight: 500;
          }
        }
        .about-buttons-wrapper{
          margin-top: 50px;
          .visit-portfolio-btn {
            font-size: 15px;
            color: #ffffff;
            display: flex;
            padding: 4px 9px;
            align-items: center;
            gap: 11px;
            cursor: pointer;
            height: 45px;
            margin-top: 1rem;
            border-radius: 6px;
            background: #FF424E;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
            img{
              width: 30px;
            }
            span{
              width: 100%;
            }
          }
        }
      }
    }
  }
  .about-work-process-whole-wrapper {
    .about-work-process-container {
      margin-top: 45px;
      .work-process-title{
        h2{
          color: #FF424E;
          text-align: center;
          font-size: 48px;
          font-weight: 500;
          line-height: normal;
        }
      }
      .work-process-image{
        img{
          width: 100%;
        }
      }
    }
  }
  .user-skills-whole-wrapper {
    margin-top: 40px;
    .work-process-title{
      h2{
        color: #FF424E;
        text-align: center;
        font-size: 48px;
        font-weight: 500;
        line-height: normal;
      }
    }
    .user-profile-skills-progressbar-wrapper {
      margin: 10px;

      .profile-skills-lists {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;

        .profile-skill-name {
          color: #585858;
          font-size: 20px;
          font-weight: 600;
          line-height: 250%;
          text-transform: uppercase;
        }

        .profile-skill-percentage {
          font-style: normal;
          font-weight: 400;
          font-size: 0px;
          line-height: 20px;
          color: #878789;
        }
      }

      .profile-skills-progress {
        height: 15px !important;
        background-color: #c6c6c600;
        border-radius: 0px !important;
        margin-bottom: 13px !important;

        .progress-bar {
          border-radius: 7.5px;
          background: #FF7881;
          height: 100%;
        }
      }
    }
  }
  .tools-whole-wrapper{
    margin-top: 50px;
    .tools-title{
      h2{
        color: #FF424E;
        text-align: center;
        font-size: 45px;
        font-weight: 500;
        line-height: normal;
      }
    }
    .tools-container{
      .tools-list-wrapper{
        text-align: center;
        .tools-list{
          list-style: none;
          padding-left: 0;
          margin: 0;
          li{
            color: #585858;
            font-size: 32px;
            font-weight: 700;
            position: relative;
            padding-top: 15px;
            &:after{
              content: url('/assets/img/underline.png');
              position: absolute;
              top: 36px;
              left: 75px;
            }
            &:last-child::after{
              content: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .about-cards{
    .about-inner-card{
      gap: 25px !important;
      padding: 15px 10px !important;
      .about-card-img{
        img{
          width:50px
        }
      }
      .card-heading{
        font-size: 17px !important;
        line-height: 20px !important;
      }
    }
  }
}

@media (max-width: 700px) {
  .about-section {
    .user-profile-list-mobile {
      display: block !important;
    }

    .about-container {
      .about-row {
        display: block !important;

        .about-columns {
          width: 100% !important;
        }
      }
    }
  }
  .title-about {
    .title-desc {
      font-size: 14px !important;
    }
  }
}