<div class="about-section">
  <div class="about-me-whole-wrapper">
    <div class="about-me-content-wrapper">
      <div class="about-me-content-container">
        <div class="image-wrapper">
          <img src="assets/img/mobile-about-me.png" alt="" />
        </div>
        <div class="name-wrapper">
          <h3>Hey there! <span>I’m Faisal</span></h3>
        </div>
        <div class="about-me-content-wrapper">
          <p>Faisal Ali is a highly skilled graphic designer with a strong background in UI/UX design. With 9 years of experience in the industry, Faisal has honed his abilities in creating visually stunning graphics while ensuring optimal user experiences.
          </p>
        </div>
        <div class="about-buttons-wrapper">
          <div routerLink="" class="visit-portfolio-btn">
            <img src="assets/img/portfolio-icon.png" />
            <span>Download Resume</span>
          </div>
          <div routerLink="/UI/UX" class="visit-portfolio-btn">
            <img src="assets/img/portfolio-icon.png" />
            <span>Visit My Portfolio</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-work-process-whole-wrapper">
    <div class="about-work-process-container">
      <div class="work-process-title">
        <h2>My Design Process</h2>
      </div>
      <div class="work-process-image">
        <img src="assets/img/work-process.png" alt="">
      </div>
    </div>
  </div>
  <div class="user-skills-whole-wrapper">
    <div class="work-process-title">
      <h2>Skills</h2>
    </div>
    <div class="user-profile-skills-progressbar-wrapper">
      <div class="profile-skills-lists">
        <span class="profile-skill-name">SEO/SEM</span>
        <span class="profile-skill-percentage">90%</span>
      </div>
      <div class="profile-skills-progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 90%"
        ></div>
      </div>
    </div>
    <div class="user-profile-skills-progressbar-wrapper">
      <div class="profile-skills-lists">
        <span class="profile-skill-name">HTML/CSS</span>
        <span class="profile-skill-percentage">100%</span>
      </div>
      <div class="profile-skills-progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 100%"
        ></div>
      </div>
    </div>
    <div class="user-profile-skills-progressbar-wrapper">
      <div class="profile-skills-lists">
        <span class="profile-skill-name">jquery</span>
        <span class="profile-skill-percentage">70%</span>
      </div>
      <div class="profile-skills-progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="70"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 70%"
        ></div>
      </div>
    </div>
    <div class="user-profile-skills-progressbar-wrapper">
      <div class="profile-skills-lists">
        <span class="profile-skill-name">Salesforce</span>
        <span class="profile-skill-percentage">90%</span>
      </div>
      <div class="profile-skills-progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 90%"
        ></div>
      </div>
    </div>
    <div class="user-profile-skills-progressbar-wrapper">
      <div class="profile-skills-lists">
        <span class="profile-skill-name">CMS/CRM</span>
        <span class="profile-skill-percentage">80%</span>
      </div>
      <div class="profile-skills-progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 80%"
        ></div>
      </div>
    </div>
    <div class="user-profile-skills-progressbar-wrapper">
      <div class="profile-skills-lists">
        <span class="profile-skill-name">WordPress/Joomla</span>
        <span class="profile-skill-percentage">80%</span>
      </div>
      <div class="profile-skills-progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 80%"
        ></div>
      </div>
    </div>
  </div>
  <div class="tools-whole-wrapper">
    <div class="tools-title">
      <h2>Tools I Use</h2>
    </div>
    <div class="tools-container">
      <div class="tools-list-wrapper">
        <ul class="tools-list">
          <li>Figma</li>
          <li>Adobe Xd</li>
          <li>Sketch</li>
          <li>Invisionapp</li>
        </ul>
      </div>
    </div>
  </div>
</div>
