<div class="contact-me">
  <h1>Contact Us</h1>
  <div class="get-in-touch">
    <h2>Would Love to Hear from you,</h2>
    <span>Get in Touch</span>    
  </div>
  <div class="contact-details-wrapper">
    <div class="contact-details-icons-wrapper">
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img src="/assets/img/location-icon.svg" alt="location" />
        </div>
        <p>Dallas , TX</p>
      </div>
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img src="/assets/img/phone-icon.svg" alt="phone" /> 
        </div>
        <a href="tel:+13476207081">+1 347 620 7081</a>
      </div>
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img src="/assets/img/skype-icon.svg" style="margin-left: -3px;" alt="skype" />
        </div>
        <p>faisalali.ux@gmail.com</p>
      </div>
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img src="/assets/img/linkedin-icon.svg" alt="linkedin" />
        </div>
        <a href="https://www.linkedin.com/in/faisal-ali-bhamani-a3761b255/" target="_blank">Faisal-Ali</a>
      </div>
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img src="/assets/img/mail-icon.svg" style="margin-left: -3px;" alt="email" />
        </div>
        <a href="mailto:faisalali.ux@gmail.com">faisalali.ux@gmail.com</a>
      </div>
    </div>
    <div class="contact-details-avatar">
      <img src="assets/img/contact-avatar.svg" alt="">
    </div>
  </div>
</div>

