<div class="portfolio">
    <div class="navigate-to-portfolio">
      <!-- <button (click)="goback()">
        <img src="assets/img/chevron.svg" alt="icon" />
      </button> -->
        <h1>My Portfolio</h1>
    </div>
      <div class="portfolio__nav">
        <div class="portfolio-categories" *ngFor="let category of categories; index as i">
          <button
            (click)="showCategory(category)"
            class="portfolio__nav--btn"
            [class.active]="currentCategory.name === category.name"
          >
            {{ category.name }}
          </button>
        </div>
      </div>
      <div class="portfolio__gallery" [class.loading]="loading">
        <!-- <ng-container *ngIf="currentCategory.categoryHeading === 'Wireframes'">
          <div
          class="portfolio__gallery--item"
          *ngFor="let image of currentCategory.images; let i = index"
          [class.loaded]="!loading"
          [attr.id]="'portfolioItem-' + image.id"
        >
          <div class="gallery-image" (click)="gotoDetails(image , i)">
            <img src="assets/img/{{ image.thumbnailImage }}" alt="{{ image }}" />
            <div class="img-overlay">
              <div class="plus"></div>
              <div class="img-description">
              </div>
            </div>
          </div>
        </div>
        </ng-container> -->
        <ng-container>
          <div
          class="portfolio__gallery--item"
          *ngFor="let image of currentCategory.images; let i = index"
          [class.loaded]="!loading"
          [attr.id]="'portfolioItem-' + image.id"
        >
          <div class="gallery-image" (click)="gotoDetails(image , i)">
            <img src="assets/img/{{ image.thumbnailImage }}" alt="{{ image }}" />
            <div class="img-overlay">
              <div class="plus"></div>
              <div class="img-description">
              </div>
            </div>
          </div>
        </div>
        </ng-container>
      </div>
    </div>