/* You can add global styles to this file, and also import other style files */
// @import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2px;
}

.title-heading {
  font-size: 31px;
  color: #0675eb;
  font-weight: 700;
  line-height: 51px;
}


@media (max-width: 700px){
  #porfolio-section-wrapper{
    display: block;
    width: 100% !important;
    padding-bottom: 20px;
    padding-top: 0px;
  }
  #porfolio-section-list{
    width: 100% !important;
  }
  #porfolio-section-detail{
    width: 100% !important;
    // height: auto;
  }
  .user-profile{
    height: auto !important;
    .user-profile-wrapper{
    flex-direction: row !important;
    justify-content: space-around !important;
    .user-details{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    }
  }
  .user-profile-list{
    &.d-none{
      display:none;
    }
  }
  .user-profile-detail-page{
    padding: 10px 20px 29px 20px !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
