.main {
  height: 100vh;
  background: linear-gradient(90deg, #FFC3C7 0%, #C5E5FE 100%);
  overflow-x: hidden;
  .portfolio-section-bg {
    position: relative; 
    .navbar-mobile{
      display: none;
      position: sticky;
      top: 0;
      width: 100%;
      height: 70px;
      z-index: 999;
      background: #FFCDD0;
      .user-whole-profile-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 7px;
        .user-profile-wrapper{
          display: flex;
          gap: 9px;
          padding: 0 8px;
          position: relative;
          .user-profile-icon{
            img{
              width: 48px;
            }
            i{
              position: absolute;
              z-index: 9999;
              right: -46px;
              top: 3px;
              font-size: 30px;
              color: #62A2B6;
            }
          }
          .user-profile-title{
            .user-profile-name{
              span{
                font-size: 21px;
                font-weight: 600;
                color: #3E3B3B;
              }
            }
            .user-profile-role{
              margin-top: -7px;
              span{
                font-size: 11px;
                color: #FF424E;
                font-weight: 500;
              }
            }
          }
        }
        .user-toggle-menu-wrapper{
          display: flex;
          align-items: center;
          .active-router{
            font-weight: 400;
            color: #FF424E;
            text-transform: uppercase;
          }
          .toggle-menu-button{
            padding: 1px 6px;
            .menu-button{
              border: none;
              background: no-repeat;
              outline: none;
              padding: 9px 0px;
              .material-icons{
                font-size: 36px;
                color: #585858;
                z-index: 9999;
                position: relative;
              
              }
            }
          }
        }
      }
      .sidebar-mobile{
        position: absolute;
        right: -330px;
        top: 0;
        background:#fff;
        border-radius: 0px 0px 0px 16px;
        height:calc(100vh - 20px);
        z-index: 999;
        border-top-left-radius: 20px;
        &.open {
          right: 0px;
          top: 0px;
          width: 190px;
          transition: right 0.3s ease-in-out;
          z-index: 999;
        }
        .menu-type{
          padding-top: 1.3rem;
          padding-left: 1rem;
          span{
            font-weight: 400;
            color: #FF424E;
          }
        }
        .mobile-navigation-menu{
          padding-top: 3rem;
          .user-profile-detail-navbar{
            .user-profile-detail-nav-links {
              list-style: none;
              padding-left: 0;
              text-align: center;
              li {
                padding-bottom: 30px;
                a {
                  text-decoration: none;
                  color: #3C3C3C;
                  font-size: 18px;
                  font-weight: 600;
                  text-transform: uppercase;
                  &.active{
                    color: #fff;
                    background-color: #FF424E;
                    padding: 6px 23px;
                    border-radius: 28px;
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
        .sidebar-footer{
          width: 67%;
          margin: 0 auto;
          .social-icons{
            display: flex;
            flex-direction: row;
            gap: 14px;
            a{
              i{
                color: #fff;
                background-color: #62A2B6;
                padding: 8px 8px;
                border-radius: 50%;
                font-size: 16px;
              }
            }
            &.open{
              a{
                i{
                  background-color: #fff;
                  color: #62A2B6;
                }
              }
            }
          }
        }
      }
      .sidebar-profile{
        position: absolute;
        left: -330px;
        top: 0;
        background: #fff;
        border-radius: 0px 0px 0px 16px;
        height:calc(100vh - 20px);
        z-index: 999;
        border-top-right-radius: 20px;
        &.open {
          left: 0px;
          top: 0px;
          width: 210px;
          transition: left 0.3s ease-in-out;
          z-index: 999;
        }
        .user-profile-list {
          padding-top: 3rem;
          .user-profile-wrapper {
              padding: 10px 6px;
              text-align: center;
              display: flex;
              gap: 7px;
              flex-direction: column;
              justify-content: center;
              align-items: center;
  
              .profile-img {
                  img {
                      border-radius: 50%;
                      width: 90px;
                      height: 90px;
                      object-fit: contain;
                      object-position: top;
                  }
              }
  
              .user-details {
                  .user-name {
                      color: #3E3B3B;
                      font-size: 18px;
                  }
  
                  .user-role {
                      color: #786E6E;
                      font-weight: 400;
                      font-size: 14px;
                  }
  
                  .adobe-certificate {
                      margin-top: 13px;
                  }
              }
          }
          .contact-details-icons-whole-wrapper{
              margin-top: 2rem;
              padding: 0 8px;
              .contact-details-social-icons{
                  display: flex;
                  gap: 10px;
                  margin-bottom: 30px;
                  align-items: center;
                  .icon-background{
                      background-image: url('/assets/img/Rectangle-35.svg');
                      box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
                      backdrop-filter: blur(35px);
                      border-radius: 4px;
                      padding: 10px 12px 2px 13px;
                      background-size: contain;
                      background-repeat: no-repeat;
                      img{
                          width: 20px;
                          height: 24px;
                          
                      }
                    }
                    a,p{
                      color: #3E3B3B;
                      text-decoration: none;
                      font-size: 2.7vw;
                      &:hover{
                        color: #62A2B6;
                      }
                    }
              }
          }
      }
      }
    }
    .navigation-menu{
      position: absolute;
      right: 10.46vw;
      top: 60px;
      z-index: 9;
      .user-profile-detail-navbar {
        border: 1px solid rgba(128, 0, 0, 0.11);
        border-radius: 51px;
        background: #FFCDD0;
      
        .user-profile-detail-nav-links {
          display: flex;
          gap: 22px;
          list-style: none;
          margin: 0;
          padding: 0.75vw 2.4vw;
      
          li {
            a {
              text-decoration: none;
              color: #888;
              font-size: 0.85vw;
              font-weight: 600;
      
              &:focus {
                color: #FF424E;
              }
      
              &.active {
                border-radius: 35px;
                background: #FF424E;
                color: #FFCDD0;
                padding: 0.4vw 1.2vw;
              }
            }
          }
        }
      }
      
    }
    .card {
      transition: all 0.2s;
      position: absolute;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      .circle {
        width: 190px;
        height: 190px;
        background: linear-gradient(137deg, #FFC3C7 0%, #FF8E96 100%);
        filter: drop-shadow(0px 0px 20px rgba(128, 0, 0, 0.17));
        border-radius: 50%;
        position: absolute;
        &:nth-child(1) {
          top: 17px;
          left: 2%;
        }
        &:nth-child(2) {
          bottom: 1%;
          right: 3%;
          width: 220px;
          height: 220px;
        }
      }
    }
    .porfolio-about-section-wrapper{
      .porfolio-section-list{
        width: 85%;
        margin: auto;
        padding: 46px 0;
        .profile-content{
          border-radius: 14px;
          background: linear-gradient(316deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.18) 100%);
          box-shadow: 2px 4px 30px 0px rgba(0, 0, 0, 0.10);
          backdrop-filter: blur(35px);
          height: 41vh;
          width: 97.8%;
          .about-me{
            display: flex;
            align-items: center;
            height: 100%;
            background-image: url('/assets/img/about-me-image.png');
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: 11vw;
            .image{
              width: 25%;
              height: 100%;
              display: none;
              img{
                width: 100%;
                object-fit: contain;
                height: 100%;
              }
            }
            .content{
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              .content-wrapper{
                height: 100%;
                width: 50%;
                text-align: center;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                &::before{
                  content:url('/assets/img/pointer.png');
                  position: absolute;
                  left: -232px;
                  top: -48px;
                  transform: scale(0.58);
                }
                h2{
                  color: #585858;
                  font-size: 2.3vw;
                  font-weight: 300;
                  span{
                    font-weight: 800;
                  }
                }
                .role{
                  span{
                    padding: 7px 24px;
                    text-align: center;
                    font-size: 1.32vw;
                    -webkit-text-stroke-width: 1.8px;
                    -webkit-text-stroke-color: #ff424e;
                    color: #00000000;
                    font-weight: 500;
                  }
                }
                .paragrapgh{
                  .para1{
                    color: #585858;
                    font-size: 0.77vw;
                    font-weight: 700;
                    margin-top: 13px;
                  }
                  .para2{
                    color: #585858;
                    font-size: 0.66vw;
                    margin-top: 5px;
                  }
                }
                .buttons{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 35px;
                  margin-top: 13px;
                  .visit-portfolio-btn{
                    border-radius: 6px;
                    background: #FF424E;
                    color: #fff;
                    padding: 0.30vw 0.78vw;
                    font-size: 0.8vw;
                    width: 12.5vw;
                    display: flex;
                    align-items: center;
                    gap: 25px;
                    height: 3.5vh;
                    cursor: pointer;
                    img{
                      width: 1.712vw;
                    }
                  }
                }
              }
            }
            .second-image{
              width: 25%;
              height: 100%;
              display: none;
              img{
                width: 100%;
                object-fit: contain;
                height: 100%;
              }
            }
          }
        }
      }
      .porfolio-section-detail{
        display: flex;
        gap: 30px;
        margin-top: 2rem;
        .portfolio-about-user-left{
          width: 20%;
          height: 45vh;
          overflow-y: scroll;
          border-radius: 14px;
          background: linear-gradient(316deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.18) 100%);
          box-shadow: 2px 4px 30px 0px rgba(0, 0, 0, 0.10);
          backdrop-filter: blur(35px);
          &.overflow::-webkit-scrollbar {
            width: 8px;
            height: 10px;
          }
        
          &.overflow::-webkit-scrollbar-track {
            background: transparent;
          }
        
          &.overflow::-webkit-scrollbar-thumb {
            border-radius: 4px;
          }
        
          &.overflow:hover::-webkit-scrollbar-thumb {
            background: #c7c7c7;
          }
        
          &.overflow::-webkit-scrollbar-thumb:hover {
            background: #c7c7c7;
          }
        
          .about-user-left-whole-wrapper{
            padding: 1.5vw 3vw 1vw 2vw;
            .user-profile-list-info{
              .user-profile-info-wrapper{
                border-bottom: 1px solid #585858;
                margin-bottom: 12px;
                display: flex;
                justify-content: space-between;
                .city{
                  color: #585858;
                  font-size: 0.7vw;
                  font-weight: 600;
                  text-transform: uppercase;
                }
                .state{
                  padding-right: 1vw;
                  color: #3E3B3B;
                  font-size: 0.7vw;
                  text-transform: uppercase;
                  padding-bottom: 0.35vw;
                  display: flex;
                  justify-content: flex-start;
                  width: 18%;
                }
              }
            }
            .skills-row{
              border-bottom: 1px solid #585858;
              margin-bottom: 5px;
              span{
                color: #585858;
                font-size: 0.66vw;
                font-family: Poppins;
                font-weight: 600;
                line-height: 264%;
                text-transform: uppercase;
              }
            }
            .skills-heading{
              h4{
                color: #FF424E;
                font-size: 1.3vw;
                font-family: Poppins;
                font-weight: 700;
              }
            }
          }
        }
        .right{
          width: 76%;
          height: 45vh;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 14px;
          background: linear-gradient(316deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.18) 100%);
          box-shadow: 2px 4px 30px 0px rgba(0, 0, 0, 0.10);
          backdrop-filter: blur(35px);
          .content-wrapper{
            text-align: center;
            .heading{
              margin-bottom: 2.5rem;
              h4{
                color: #585858;
                font-size: 1.6vw;
                font-weight: 700;
              }
            }
            img{
              width: 35vw;
            }
          }
        }
      }
    }
    .porfolio-section-wrapper {
      width: 85%;
      margin: auto;
      display: flex;
      gap: 30px;
      padding: 46px 0;

      .porfolio-section-list {
        width: 20%;
        z-index: 2;
      }

      .porfolio-section-detail {
        width: 76%;
        z-index: 2;
      }
    }
  }

}



@media (max-width: 1680px) {
  .about-me{
    .content{
      .content-wrapper{
        &::before{
          left: -225px !important;
          top: -82px !important;
          transform: scale(0.48) !important;
        }
      }
    }
  }
}
@media (max-width: 1360px) {
  .about-me{
    .content{
      .content-wrapper{
        &::before{
          left: -220px !important;
          top: -108px !important;
          transform: scale(0.43) !important;
        }
      }
    }
  }
}

@media (max-width:700px) {
  .main {
    height: 100% !important;
  }
  .card{
    display: none;
  }
  .navigation-menu{
    display: none;
  }
  .navbar-mobile{
    display: block !important;
  }
  .porfolio-section-list{
    display: none;
  }
}


@media (max-width:1200px) {
.porfolio-section-wrapper{
  width: 95% !important;
  .porfolio-section-list{
    width: 25% !important;
  }
  .porfolio-section-detail{
    width: 73% !important;
  }
}
}
